body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
/*Global*/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 16px;
  min-width: 150px;
}

.center{
  margin: auto;
  width: 60%;
  padding-top: 50px;
  padding-bottom: 30px;
}

.active {
  color: #b64a23;
  font-weight: bold;
}

/* header*/
header {
  background: #5A5A4E;
  color: #ffffff;
  padding-top: 15px;
  min-height: 30px;
  width: 100%;
  position: fixed;
  top: 0;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

header ul{
  margin: 0;
  padding: 0;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #logo {
  float: left;
  padding-bottom: 10px;
}

header #logo h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}


/*menu*/
.opasity{
  opacity: 0.9;
}

#op{
  min-height: 400px;
  background: url("../img/B.jpg") no-repeat -30px;
  background-size: 1400px 700px;
  text-align: center;
}

/*showcase*/
#disp {
  color: #ffffff;
  padding-bottom: 30px;
  height: 400px;
}

#disp h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#disp p {
  font-size: 20px;
}

/*cards*/
#cards {

  padding-top: 30px; 
  text-align: center;
  width: 90%;
  margin: auto;
  min-width: 150px;
}

#cards b {
  font-size: 20px;
}

#cards .card {
  float: left;
  text-align: center;
  width: 20%;
  padding: 10px;
}

#cards .card img {
  position: relative; 
  width: 100%;
  height: 100px;
}

#cards .card a {
  color: #ffffff;
  text-decoration: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Split the screen in two*/
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.split.left {
  left: 0;
  width: 60%;
  background: url("../img/burgers.jpg") ;
}

/* Control the right side */
.split.right {
  right: 0;
  width: 40%;
  height: 100%;
  background-color: #ffffff;
  overflow: hidden;
} 

/*display content*/
#appeal{
  padding-top: 110px;
  color: #ffffff;
  text-align: center;
}

#appeal h1{
  font-size: 40px;
  margin-bottom: 10px;
}

#appeal p {
  font-size: 20px;
}

/*login and register*/
#sidelog{
  margin: auto;
  float: left;
  color: black;
  padding-top: 70px;
}

#sidelog h2{
  text-align: center;
  font-size: 40px;
}

#sidereg{
  margin: auto;
  float: left;
  color: black;
  padding-top: 10px;
}

#sidereg h2{
  text-align: center;
  font-size: 40px;
}

.fi{
  background-color:#f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    height: 5px;
    padding: 30px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 25px;
    decoration: none;
}

.regbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Tables */
#content {
    border-collapse: collapse;
    width: 100%;
}

#content td, #content th {
    border: 1px solid #ddd;
    padding: 8px;
}

#content tr:nth-child(even){
  background-color: #f2f2f2;
}

#content tr:hover {
  background-color: #ddd;
}

#content th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #b64a23;
    color: white;
}

/*footer*/
footer {
   background-color: red;
   color: white;
   text-align: center;
   padding: 30px;
   margin-top: 20px;
}

/*media queries*/
@media (max-width: 800px) {
header #logo, header nav, header nav li, #cards .container .card{
  float: none;
  text-align: center;
  width: auto;
}

#disp{
  margin-top: 10px;
  padding-top: 10px;
}

#cards .card img {
  height: 150px;
}
.center{
  width: auto;
}

.split.left{
  width: 0;

}
.split.right{
  padding-top: 10px;
  width: 100%;
}

#payment{
  width: 60%;
}

}
