<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fast food fast">
    <meta name="keywords" content="Fast food">
    <meta name="author" content="Dennis Macharia">
    <title>Fast-Food-Fast | Login</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script type="text/javascript" src="../javascript/validation.js"></script>

  </head>
  <body>

      <section>
      <div class="split left">
      	<div id="appeal">
      	<div class="container">
      	  <h1>Affordable quality fast food</h1>
      	  <p>Have the privilege of getting the best fast food in town fast.</p>
      	</div>
      </div>
    </div>
        <div class="split right">       
          
          <div id="sidelog">
            <h2>Login</h2>
            <form>
            <div class="container">
              
              <label for="Email"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" required="">

              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" required="">
        
              <button type="submit">Login</button>
            </div>
          </form>

            <div class="fi">
              <div class="container">
              <a href="signup.html">
                <button type="button" class="regbtn">Register</button>
              </a>
              <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
            </div>
        </div>
      </div>
    </section>
  </body>
  </html>
