<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Fast food fast">
    <meta name="keywords" content="Fast food">
    <meta name="author" content="Dennis Macharia">
    <title>Fast-Food-Fast | processing</title>
    <link rel="stylesheet" href="../css/styles.css">
    
  </head>
  <body>
   <header>
    <div class="container">
       <div id="logo">
          <a href="menu.html">
            <h1>Fast Food Fast</h1>
          </a>  
       </div>
       <nav>
         <ul>
           <li><a href="menu.html">Home</a></li>
           <li class="active"><a href="history.html">History</a></li>
         </ul>
       </nav>
     </div>
   </header>
   <section>        
    <div  class="center">
      <form>
        <label><b>Food Item</b></label>
        <input type="text" placeholder="Food Item" required>

        <label><b>Quantity</b></label>
        <input type="text" placeholder="Enter Quantity" required>

        <label><b>Address</b></label>
        <input type="text" placeholder="Enter the address to be delivered" required>
      </form>
    </div>
   </section>
   <section class="center" id="payment">
     <h2>Mode of payment</h2>
     <input type="radio" name="pay" value="mpesa">M-pesa<br>
     <input type="radio" name="pay" value="mastercard">MASTER CARD<br>
     <input type="radio" name="pay" value="mastercard">Cash on delivery<br>
     <br>
     <div class="center">
       <button type="submit">MAKE PAYMENT</button>
     </div>
   </section>
  </body>
</html>
