<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Fast food fast">
    <meta name="keywords" content="Fast food">
    <meta name="author" content="Dennis Macharia">
    <title>Fast-Food-Fast | Register</title>
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>

      <section>
      <div class="split left">
      	<div id="appeal">
      	<div class="container">
      	  <h1>Affordable quality fast food</h1>
      	  <p>Have the privilege of getting the best fast food in town fast.</p>
      	</div>
      		
      	</div>
      </div>
      <div class="split right">      	
          
          <div id="sidereg">
          	<h2>Register</h2>
          	<form>  
            <div class="container">
              <label ><b>Username</b></label>
              <input type="text" placeholder="Enter Username" required>

              <label for="Email"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" required>

              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" required>
        
              <button type="submit">Register</button>
            </div>
          </form>

            <div>
              <div class="container" style="background-color:#f1f1f1">
              <a href="login.html">
                <button type="button" class="regbtn">Login</button>
              </a>
            </div>

            </div>
          </div>
      </div>
    </section> 

  </body>
</html>
