<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>FAST FOOD API | WELCOME</title>
	<style type="text/css">
	    .top {
	    	background: lightblue;
	    	color: #ffffff;
	    	padding-top: 20px;
	    	min-height: 70px;
	    	margin-bottom: 13px;
	    }
		.container{
			width: 80%;
			margin: auto;
			overflow: hidden;
			padding: 16px;
			min-width: 150px;
			background-color: #ffffff;
			
		}
		.text-center{
			text-align: center;
		}
		.center{
			margin: auto;
			width: 60%;
			padding-top: 50px;
			padding-bottom: 30px;
		}

	</style>

</head>
<body>
		<div class="top" >
			<h1 class="text-center">Welcome to Fast Food Fast Api</h1>
		</div>
	<div class="container" >
		<hr>
		<div class="center">
			<h2>Introduction</h2>
		<b>What does this api do ?</b>
		<ol>
			<li><strong>posts an order</strong></li>
			<li><strong>gets all orders</strong></li>
			<li><strong>gets an order by id</strong></li>
			<li><strong>updates an order by id</strong></li>
			<li><strong>User signup</strong></li>
			<li><strong>User login</strong></li>

		</ol>
		<h2>Getting started</h2>
		<p>In order to use the api you must have the following in mind.</p>
		<ol>
			<li><strong>Posting an order</strong></li>
			<p>
				To post an order we shall use the following endpoint:
			</p>
			<ul>
				<li><b>POST</b> at endpoint <code>/api/v1/orders</code> </li>
				<p>The payload should have:</p>
				<ul>
					<li>item</li>
					<li>price</li>
					<li>quantity</li>
					<li>address</li>
				</ul>
			</ul>
			<br>
			<li><strong>Getting all orders</strong></li>
			<p>
				To get all orders we shall use the following endpoint:
			</p>
			<ul>
				<li><b>GET</b> at endpoint <code>/api/v1/orders</code> </li>
			</ul>
			<br>

			<li><strong>Getting an order by id</strong></li>
			<p>
				To get an order by id we shall use the following endpoint:
			</p>
			<ul>
				<li><b>GET</b> at endpoint <code>/api/v1/orders<order_id></code> </li>
				<p>Use a valid id or else you will get an error response</p>
				
			</ul>
			<br>
			<li><strong>Updating an order</strong></li>
			<p>
				To update an order we shall use the following endpoint:
			</p>
			<ul>
				<li><b>PUT</b> at endpoint <code>/api/v1/orders<order_id></code> </li>
				<p>The payload should have a status that is either 'pending' or 'completed'</p>
				
			</ul>
			<br>
			<li><strong>User signup</strong></li>
			<p>
				To signup a user we shall use the following endpoint:
			</p>
			<ul>
				<li><b>POST</b> at endpoint <code>/api/v1/signup<order_id></code> </li>
				<p>The payload should have:</p>
				<ul>
					<li>username</li>
					<li>email</li>
					<li>password</li>
					<li>confirm password</li>
				</ul>
				
			</ul>
			<br>
			<li><strong>User login</strong></li>
			<p>
				To login a user we shall use the following endpoint:
			</p>
			<ul>
				<li><b>POST</b> at endpoint <code>/api/v1/signup<order_id></code> </li>
				<p>The payload should have:</p>
				<ul>
					<li>email</li>
					<li>password</li>
				</ul>
				
			</ul>


		</ol>
		</div>
	</div>

</body>
</html>